azure-storage-blob==12.17.0
azure-identity==1.14.0
azure-mgmt-storage==21.0.0
azure-mgmt-subscription==3.1.1
azure-mgmt-authorization==3.0.0
azure-mgmt-msi==7.0.0
polars==0.19.2
pyarrow==13.0.0
matplotlib==3.7.3
numpy==1.25.2
scikit-learn==1.3.0
pandas==2.1.0
